<header>
  <h1>Checkbox-tree</h1>
  <div>
    <p>Hozz létre TypeScript használatával egy n szintű beágyazott checkbox listát, aminek fa struktúrája van, és az
      utolsó szinten kívül az összes többi grouping element.</p>
    <p>Egy grouping element akkor lehet bepipálva, ha az alá tartozó összes checkbox is be van pipálva. Ha legalább az
      egyik nincs, akkor ebben sem lehet pipa. Továbbá ha grouping checkboxra kattintunk, akkor az összes child
      checkboxát át kell állítani a kattinton elem értékére.</p>
    <p>Továbbá hozz létre egy függvényt, ami visszaadja a legalacsonyabb szintű elemeket (amik nem grouping elementek)
      és azoknak az értékét, miszerint épp be vannak jelölve, vagy sem.</p>
    <p>A feladat megoldásához Angular keretrendszer és rxjs is használható, 3rd party npm packagek nem.</p>
    <p>Az input adatstrukturája szabadon megtervezhető, de 1-n szintig működnie kell az implementációnak.</p>
  </div>
</header>

<section>
  <div class="animals">
    <h2>Állatok</h2>
    <ng-container *ngIf="animals">
      <app-checkbox-tree [node]="animals"></app-checkbox-tree>
      <h3>Legalacsonyabb szintű elemek</h3>
      <pre>{{ animals.getLeaves() | json }}</pre>
    </ng-container>
  </div>
  <div class="colors">
    <h2>Színek</h2>
    <ng-container *ngIf="colors">
      <app-checkbox-tree [node]="colors" labelProperty="name"></app-checkbox-tree>
      <h3>Legalacsonyabb szintű elemek</h3>
      <pre>{{ colors.getLeaves() | json }}</pre>
    </ng-container>
  </div>
</section>
